/* *{
  margin: 0%;
  padding: 0%;
 
} */
.contenedor {
width: 90%;
max-width: 1000px;
margin: auto;
overflow: hidden;
}
.header{
  width: 100%;
  height: 600px;
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, hsla(0, 2%, 71%, 0.993), hsla(0, 97%, 45%, 0.664)), url(../public/header-img.jpg);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, hsla(0, 100%, 2%, 0.712), hsla(0, 26%, 7%, 0.664)), url(../public/header-img.jpg);
  background-attachment: fixed;
  position: relative;
}

.nav{
  text-align: right;
  padding: 30px 50px 0 0;
  width: 100%;
  height: 8vh;
}

.nav a{
  color: #fff;
  font-weight: 300;
  text-decoration: none;
  margin-right: 10px;
}

.nav a:hover{
  color: #fff;
  font-weight: 300;
  text-decoration: underline;
}

.textosHeader{
  display: flex;
  height:  430px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.textosHeader h1{
  font-size: 50px;
  color: #fff;
}

.textosHeader h2{
  font-size: 30px;
  font-weight: 300;
  color: #fff;
}

.wave{
  position: absolute;
  bottom: 0%;
  width: 100%;
}

/* main */

.bioTexto{
  padding: 20px;
  overflow: hidden;
  display: flex;
 text-align: justify;
}

.bio{
  padding: 30px;
}
.imagen{
  flex-shrink: 0;
}
.img{
  width: 100%;
  margin: 5px;
  border-radius: 66% 34% 70% 30% / 30% 61% 39% 70%;
 }

 .sobreMi{
  margin-top: 20px;
 }

 .link{
  padding: 10px; 
     background: #333;
     color: #f0efeb;
     text-decoration: none;
     transition: 0.5s ease-in-out;
 }

 .link:hover{
  color: #333;
  background: #f0efeb;
  transition: 0.5s ease-in-out;
 }
 

