.contenedorPrpyectos{
  width: 90%;
  margin: auto;
}

.proyectos{
  display: flex;
  flex-wrap: wrap;
}

.proyecto{
  padding: 20px;
  width: 50%;
  text-align: justify;
}

.proyecto h3{
  font-size: 20px;
}

.img{
  background: #333;
}
.proyecto a{
  font-size: 20px;
  margin: 20px;
  cursor: pointer;
  color: #3a86ff;

}

.proyecto a :hover{
  color: #00296b;

}
@media only  screen and (max-width: 700px) {

  .proyectos{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .proyecto{
      width: 100%;
  }
}